<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>

    <title>FCAP MEMBER | MANAGER</title>

    <style>
      .inline-80 {
        display: inline-block;
        width: 80px;
      }
    </style>
  </head>
  <body>
    <%-include("../partials/admin/header")-%>
    <div>&nbsp;</div>

    <div>&nbsp;</div>
    <div class="row">

      <div class="col-sm-1">
        <form action="/view-members/viewall" method="post">
          <button
            value="viewall"
            name="teamBtn"
            type="submit"
            class="btn btn-primary"
            style="padding-left: 1.5rem; padding-right: 1.5rem"
          >
            View All
          </button>
        </form>
      </div>

        <div class="col-sm-1">
          <form action="/view-members/technical" method="post">
            <button
              value="technical"
              name="teamBtn"
              type="submit"
              class="btn btn-primary"
              style="padding-left: 1.5rem; padding-right: 1.5rem"
            >
              Technical 
            </button>
          </form>
        </div>
		
        <div class="col-sm-1">
          <form action="/view-members/logistics" method="post">
            <button
              value="logistics"
              name="teamBtn"
              type="submit"
              class="btn btn-primary"
              style="padding-left: 1.5rem; padding-right: 1.5rem"
            >
              Logistics 
            </button>
          </form>
        </div>

        <div class="col-sm-1">
          <form action="/view-members/finance" method="post">
            <button
              value="finance"
              name="teamBtn"
              type="submit"
              class="btn btn-primary"
              style="padding-left: 1.5rem; padding-right: 1.5rem"
            >
              Finance 
            </button>
          </form>
        </div>

        <div class="col-sm-1">
          <form action="/view-members/marketing" method="post">
            <button
              value="marketing"
              name="teamBtn"
              type="submit"
              class="btn btn-primary"
              style="padding-left: 1.5rem; padding-right: 1.5rem"
            >
              Marketing 
            </button>
          </form>
        </div>

        <div class="col-sm-5">
          <form action="/view-members/admin" method="post">
            <button
              value="admin"
              name="teamBtn"
              type="submit"
              class="btn btn-primary"
              style="padding-left: 1.5rem; padding-right: 1.5rem"
            >
              Admin 
            </button>
          </form>
        </div>

        <div class="col-sm-1">
          <form action="/view-members/asc" method="post">
            <button
              value="admin"
              name="teamBtn"
              type="submit"
              class="btn btn-danger"
              style="padding-left: 1.5rem; padding-right: 1.5rem"
            >
              AESC 
            </button>
          </form>
        </div>

        <div class="col-sm-1">
          <form action="/view-members/dsc" method="post">
            <button
              value="admin"
              name="teamBtn"
              type="submit"
              class="btn btn-danger"
              style="padding-left: 1.5rem; padding-right: 1.5rem"
            >
              DESC
            </button>
          </form>
        </div>

    </div>

    <div>&nbsp;</div>

    <div class="container" id="listing">
      <h3>Members</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>RollNum</th>
            <th>Team</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%std.forEach(function(element){%>
          <tr>
            <td id="name"><%=element.name%></td>
            <td id="rollnum"><%=element.rollnum%></td>
            <td id="team"><%=element.team%></td>
            <td>
              <!--Roll no-->
              <form method="post" action="/edit-member" style="display:inline">
              <button value=<%=element.rollnum%> name="edit"type="submit" class="btn btn-primary" >Edit</button>
              </form>

              <form method="post" action="/delete-member" style="display:inline">
                <button value=<%=element.rollnum%> name="edit"type="submit" class="btn btn-danger" >delete</button>
              </form>
              
              <a href="#" class="btn btn-info">view</a>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>

    <div>
      <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
    </div>

    <center>
    <form method="post" action="/generate-report" style="display:inline">
      <button  name="edit"type="submit" class="btn btn-danger" >generate report</button>
    </form>
    </center>

    <%-include("../partials/admin/footer")-%>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>


