<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>

    <title>FCAP TIMETABLE | VIEW TIMETABLE</title>

    <style>
      .inline-80 {
        display: inline-block;
        width: 80px;
      }
    </style>
  </head>
  <body>
    <%-include("../partials/admin/header")-%>
    <div>&nbsp;</div>

    <div>&nbsp;</div>
    <div class="row">

      <div class="col-sm-1">
        <form action="/member-timetable/monday/slot1" method="get">
          <button
            type="submit"
            class="btn btn-primary"
            style="padding-left: 1.5rem; padding-right: 1.5rem"
          >
            MON
          </button>
        </form>
      </div>

        <div class="col-sm-1">
          <form action="/member-timetable/tuesday/slot1" method="get">
            <button
              type="submit"
              class="btn btn-primary"
              style="padding-left: 1.5rem; padding-right: 1.5rem"
            >
              TUE
            </button>
          </form>
        </div>
		
        <div class="col-sm-1">
          <form action="/member-timetable/wednesday/slot1" method="get">
            <button
              type="submit"
              class="btn btn-primary"
              style="padding-left: 1.5rem; padding-right: 1.5rem"
            >
             WED
            </button>
          </form>
        </div>

        <div class="col-sm-1">
          <form action="/member-timetable/thursday/slot1" method="get">
            <button
              type="submit"
              class="btn btn-primary"
              style="padding-left: 1.5rem; padding-right: 1.5rem"
            >
              THU
            </button>
          </form>
        </div>

        <div class="col-sm-1">
          <form action="/member-timetable/friday/slot1" method="get">
            <button
              type="submit"
              class="btn btn-primary"
              style="padding-left: 1.5rem; padding-right: 1.5rem"
            >
              FRI
            </button>
          </form>
        </div>

    </div>

    <div>&nbsp;</div>

    <!--SLOTS BUTTON-->


    <div class="row">

        <div class="col-sm-2">
          <form action="/member-timetable/<%=dayname%>/slot1" method="get">
            <button
              type="submit"
              class="btn btn-primary"
              style="padding-left: 1.5rem; padding-right: 1.5rem"
            >
              8:45-10:10
            </button>
          </form>
        </div>
  
          <div class="col-sm-2">
            <form action="/member-timetable/<%=dayname%>/slot2" method="get">
              <button
                type="submit"
                class="btn btn-primary"
                style="padding-left: 1.5rem; padding-right: 1.5rem"
              >
                10:10-11:40
              </button>
            </form>
          </div>
          
          <div class="col-sm-2">
            <form action="/member-timetable/<%=dayname%>/slot3" method="get">
              <button
                type="submit"
                class="btn btn-primary"
                style="padding-left: 1.5rem; padding-right: 1.5rem"
              >
               11:40-1:10
              </button>
            </form>
          </div>
  
          <div class="col-sm-2">
            <form action="/member-timetable/<%=dayname%>/slot4" method="get">
              <button
                type="submit"
                class="btn btn-primary"
                style="padding-left: 1.5rem; padding-right: 1.5rem"
              >
                1:10-1:45
              </button>
            </form>
          </div>
  
          <div class="col-sm-2">
            <form action="/member-timetable/<%=dayname%>/slot5" method="get">
              <button
                type="submit"
                class="btn btn-primary"
                style="padding-left: 1.5rem; padding-right: 1.5rem"
              >
                1:45-3:10
              </button>
            </form>
          </div>

          <div class="col-sm-2">
            <form action="/member-timetable/<%=dayname%>/slot6" method="get">
              <button
                type="submit"
                class="btn btn-primary"
                style="padding-left: 1.5rem; padding-right: 1.5rem"
              >
                3:10-4:40
              </button>
            </form>
          </div>
  
      </div>
  
    
    <!--Slots BUTTON END-->



    
    <div class="container" id="listing">
        <h3>FCAP</h3>
        <table class="table table-striped">
          <thead>
              <th>Rollnum</th>
              <th>Name</th>
              <th>Team</th>
            </tr>
          </thead>
          <tbody>
            <%if(member.length>0) {%>
            <%member.forEach(function(element){%>
            <tr>
              <td><%=element.rollnum%></td>
              <td><%=element.fullname%></td>
              <td><%=element.team%></td>
            </tr>
            <%})}%>
          </tbody>
        </table>
      </div>

  
      <center>
      <form method="post" action="/generate-report" style="display:inline">
        <button  name="edit"type="submit" class="btn btn-danger" >generate report</button>
      </form>
      </center>

    <%-include("../partials/admin/footer")-%>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>


